<%- include("header"); -%>

<h1> This is the about page </h1>

<p>"I are passionate about providing valuable content to my users. Get to know me better as we continue my mission of sharing knowledge and creativity with the world.</p>

<%- include("footer"); -%>